* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    max-width: 100%;
}
.container {
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.top-wrapper img {
    width: 150px;
    margin: 0px auto;
}

header {
    background-color: #343434;
    width: auto;
    height: 55px;
}
.header-logo {
    font-family: Impact;
    color:white;
    padding: 16px 17px 16px 10px;
    font-size: 20px;
    float: left;
    letter-spacing: 5px;
}

.header-list a {
    float: left;
    color: white;
    padding: 21px 10px;
    font-family: 'Franklin Gothic Book';
    font-size: 12px;
}

.top-header {
    text-align: center;
    margin: 50px auto;
}

.top-header span {
    color: orange;
    font-family:'Times New Roman', Times, serif;
    font-size: 80px;
}


.top-header h1 {
    font-size: 72px;
    font-family: impact;
    font-weight: bolder;
    letter-spacing: 15px;
    margin: 0px 0px;
    color: #343434;
}

.top-header h2 {
    padding: 0px 0px;
    font-family: sans-serif;
    font-weight: normal;
    color: #818589;
}

.top-about {
    text-align: center;
    background-color: whitesmoke;
    height: 200px;
}

.top-about h2 {
    font-family: Impact;
    font-weight:normal;
    font-size: 16px;
    padding-top: 50px;
    color: #343434;
}

.top-about p {
    font-family: sans-serif;
    font-size: 12px;
    margin: auto 60px;
    color: #36454F;
}

.section-title {
    font-family: Impact;
    font-weight:normal;
    font-size: 14px;
    text-align: center;
    padding-top: 32px;
    color: #343434;
}
.contents img {
    width: 75%;
    padding-left: 30px;
    box-shadow: 5px 5px whitesmoke;
}

.contents {
    display: flex;
    padding-top: 10px;
}

.contents li {
    flex: auto;
}

.contents p {
    font-family: sans-serif;
    font-size: 16px;
    color: #343434;
    padding-left: 130px;
}
.contact-form {
    text-align: center;
    background-color: whitesmoke;
    height: 280px;
}

input, textarea {
    border: none;
    width: 400px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    font-size: 10px;
    border-radius: 8px;
    font-family: sans-serif;
}

.contact-submit {
    background-color: #FFE9A0;
    width: 200px;
}

footer {
    background-color: #7c7d82;
    height: 100px;
    color:white;
    padding: 20px;
}

.footer-logo {
    font-family: Impact;
    font-size: 30px;
    float: left;
    letter-spacing: 6px;
}

.footer-list {
    float: right;
    text-align: center;
    font-family: sans-serif;
    font-size: 8px;
}

.footer-list li {
    padding-bottom: 10px;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
  }

.copy-container span {
    display: none;
}